@charset "utf-8";

* {
  box-sizing: border-box;
}

body {
  width: 350px;
  text-align: center;
}

h2 a {
  color: #004d99;
  text-decoration: none;
}

h2 a:hover {
  text-decoration: underline;
}

label {
  cursor: pointer;
}

.option {
  cursor: pointer;
  vertical-align: middle;
}

details {
  margin-top: 11px;
}

summary {
  color: #004d99;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
}

summary:hover {
  color: initial;
}

details textarea {
  display: block;
  height: 100px;
  width: 100%;
  margin-top: 13px;
  outline: 0;
  resize: vertical;
}

button {
  cursor: pointer;
  display: block;
  margin: 15px auto 20px;
}
